Repository rbales79/openshift, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/charts, area/cluster, area/renovate, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/charts:
  - changed-files:
      - any-glob-to-any-file: "charts/**/*"
area/cluster:
  - changed-files:
      - any-glob-to-any-file: "cluster/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

Update Helm charts for AI applications
  clusters/hub/Chart.yaml
  clusters/hub/templates/ai.yaml
  clusters/hub/templates/base.yaml
  clusters/hub/templates/media.yaml
  clusters/hub/templates/productivity.yaml
  clusters/hub/values.yaml
  clusters/media/Chart.yaml
  clusters/media/templates/ai.yaml
  clusters/media/templates/base.yaml
  clusters/media/templates/media.yaml
  clusters/media/templates/productivity.yaml
  clusters/media/values.yaml
  clusters/template/Chart.yaml
  clusters/template/templates/ai.yaml
  clusters/template/templates/base.yaml
  clusters/template/templates/media.yaml
  clusters/template/templates/productivity.yaml
  clusters/template/values.yaml
  clusters/test/Chart.yaml
  clusters/test/templates/ai.yaml
  clusters/test/templates/base.yaml
  clusters/test/templates/media.yaml
  clusters/test/templates/productivity.yaml
  clusters/test/values.yaml
Labels: none

feat: Add Synology iSCSI and NFS drivers with configuration files
  README.md
  charts/infrastructure/democratic-csi-synology-iscsi/Chart.yaml
  charts/infrastructure/democratic-csi-synology-iscsi/values.yaml
  charts/infrastructure/democratic-csi-synology-nfs/Chart.yaml
  charts/infrastructure/democratic-csi-synology-nfs/values.yaml
  cluster/templates/infrastructure.yaml
  clusters/hub/templates/infrastructure.yaml
Labels: area/docs, area/charts, area/cluster

fix: Correct indentation for driver name in Synology iSCSI and NFS values.yaml files
  charts/infrastructure/democratic-csi-synology-iscsi/values.yaml
  charts/infrastructure/democratic-csi-synology-nfs/values.yaml
Labels: area/charts

fix: Correct indentation for driver name in Synology iSCSI and NFS values.yaml files
  charts/infrastructure/democratic-csi-synology-iscsi/values.yaml
  charts/infrastructure/democratic-csi-synology-nfs/values.yaml
Labels: area/charts

feat: Add democratic-csi snapshot controller and update related configurations
  charts/infrastructure/democratic-csi-snapshot-controller/Chart.yaml
  charts/infrastructure/democratic-csi-snapshot-controller/values.yaml
  charts/infrastructure/democratic-csi-synology-nfs/values.yaml
  charts/infrastructure/democratic-csi/Chart.yaml
  charts/infrastructure/democratic-csi/values.yaml
  cluster/templates/infrastructure.yaml
  clusters/hub/templates/infrastructure.yaml
Labels: area/charts, area/cluster

chore: Remove deprecated Synology iSCSI and NFS driver configurations
  charts/infrastructure/democratic-csi-synology-iscsi/Chart.yaml
  charts/infrastructure/democratic-csi-synology-iscsi/values.yaml
  charts/infrastructure/democratic-csi-synology-nfs/Chart.yaml
Labels: area/charts

chore: Update infrastructure.yaml for improved configuration management
  clusters/hub/templates/infrastructure.yaml
Labels: none

fix: Update Synology iSCSI host configuration in values.yaml and add connection parameters in infrastructure.yaml
  charts/infrastructure/democratic-csi/values.yaml
  clusters/hub/templates/infrastructure.yaml
Labels: area/charts

chore: Remove deprecated infrastructure.yaml files for democratic-csi and snapshot controller
  cluster/templates/infrastructure.yaml
  clusters/hub/templates/infrastructure.yaml
Labels: area/cluster

feat: Add cert-manager and external secret configurations for Cloudflare integration
  charts/infrastructure/cert-manager/Chart.yaml
  charts/infrastructure/cert-manager/templates/clusterissuer-cloudflare.yaml
  charts/infrastructure/cert-manager/templates/external-secret-cloudflare.yaml
  charts/infrastructure/cert-manager/values.yaml
  cluster/templates/infrastructure.yaml
Labels: area/charts, area/cluster

chore: Remove deprecated democratic-csi and snapshot-controller entries from infrastructure.yaml
  cluster/templates/infrastructure.yaml
Labels: area/cluster

feat: Add initial infrastructure.yaml for ApplicationSet configuration
  clusters/hub/templates/infrastructure.yaml
Labels: none

fix: Update namespace in infrastructure.yaml from openshift-gitops to cert-manager
  cluster/templates/infrastructure.yaml
Labels: area/cluster

fix: Update namespace in infrastructure.yaml from openshift-gitops to cert-manager
  clusters/hub/templates/infrastructure.yaml
Labels: none

fix: Update namespace in infrastructure.yaml from cert-manager to cert-manager-operator
  cluster/templates/infrastructure.yaml
Labels: area/cluster

fix: Update cert-manager dependency version to v1.17.4 in Chart.yaml
  charts/infrastructure/cert-manager/Chart.yaml
Labels: area/charts

feat: Refactor cert-manager and add cert-manager-operator with new configurations
  charts/infrastructure/cert-manager-operator/Chart.yaml
  charts/infrastructure/cert-manager-operator/templates/namespace.yaml
  charts/infrastructure/cert-manager-operator/templates/operatorgroup.yaml
  charts/infrastructure/cert-manager-operator/templates/subscription.yaml
  charts/infrastructure/cert-manager-operator/values.yaml
  charts/infrastructure/cert-manager/Chart.yaml
  charts/infrastructure/cert-manager/templates/clusterissuer-cloudflare.yaml
  charts/infrastructure/cert-manager/templates/external-secret-cloudflare.yaml
  charts/infrastructure/cert-manager/values.yaml
  charts/infrastructure/certificates/Chart.yaml
  charts/infrastructure/certificates/README.md
  charts/infrastructure/certificates/templates/certificates.yaml
  charts/infrastructure/certificates/templates/issuers.yaml
  charts/infrastructure/certificates/templates/secret.yaml
  charts/infrastructure/certificates/values.yaml
  clusters/hub/templates/infrastructure.yaml
Labels: area/charts

feat: Add pre-commit configuration and update namespaces in Helm charts
  bye/.pre-commit-config.yaml
  charts/infrastructure/cert-manager-operator/templates/namespace.yaml
  charts/infrastructure/cert-manager-operator/values.yaml
  charts/infrastructure/certificates/Chart.yaml
  charts/infrastructure/certificates/README.md
  charts/infrastructure/certificates/templates/certificates.yaml
  charts/infrastructure/certificates/templates/secret.yaml
  charts/infrastructure/certificates/values.yaml
  clusters/hub/templates/infrastructure.yaml
Labels: area/charts

fix: Update subscription channel to stable-v1.17.0 in subscription.yaml
  charts/infrastructure/cert-manager-operator/templates/subscription.yaml
Labels: area/charts

fix: Update subscription channel to stable-v1.17 in subscription.yaml
  charts/infrastructure/cert-manager-operator/templates/subscription.yaml
Labels: area/charts

fix: Correct subscription channel to stable-v1 and update startingCSV to v1.17.0 in subscription.yaml
  charts/infrastructure/cert-manager-operator/templates/subscription.yaml
Labels: area/charts

feat: Add ClusterSecretStore and ExternalSecret for Cloudflare API token management
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
  charts/infrastructure/certificates/templates/external-secret-cloudflare.yaml
  charts/infrastructure/certificates/templates/issuers.yaml
Labels: area/charts

fix: Update serviceAccountRef namespace to openshift-operators and remove unused secret.yaml
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
  charts/infrastructure/certificates/templates/secret.yaml
Labels: area/charts

fix: Update serviceAccountRef name and namespace in ClusterSecretStore configuration
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

fix: Correct serviceAccountRef name in ClusterSecretStore configuration
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

feat: Add ServiceAccount, ClusterRole, and ClusterRoleBinding for external-secrets operator; create vault token secret
  charts/infrastructure/certificates/templates/service-account.yaml
  charts/infrastructure/certificates/templates/vault-token-secret.yaml
Labels: area/charts

.
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
  charts/infrastructure/certificates/templates/service-account.yaml
Labels: area/charts

fix: Update serviceAccountRef in ClusterSecretStore to use external-secrets-operator in cert-manager namespace; add ServiceAccount definition
  charts/infrastructure/certificates/templates/service-account.yaml
Labels: area/charts

fix: Update serviceAccountRef in ClusterSecretStore to use 'eso-vault' in 'external-secrets' namespace; add Vault Kubernetes authentication configuration script
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

fix: Update path in ClusterSecretStore to point to 'secret/certmanager/cloudflare'
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

fix: Update path in ClusterSecretStore to point to '/v1/kv/data/secret'
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

fix: Update authentication method in ClusterSecretStore to use token-based authentication; add vault-token Secret definition
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
  charts/infrastructure/certificates/templates/vault-token-secret.yaml
Labels: area/charts

fix: Update path in ClusterSecretStore to point to '/v1/kv/data/secret'
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

.
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

fix: Update remote reference key in external-secret-cloudflare.yaml to 'secret'
  charts/infrastructure/certificates/templates/external-secret-cloudflare.yaml
Labels: area/charts

fix: Update path in ClusterSecretStore to point to 'kv'
  charts/infrastructure/certificates/templates/cluster-secret-store.yaml
Labels: area/charts

fix: Update Vault token in vault-token-secret.yaml
  charts/infrastructure/certificates/templates/vault-token-secret.yaml
Labels: area/charts

fix: Remove certificates entry from ApplicationSet in infrastructure.yaml
  charts/infrastructure/certificates/README.md
  clusters/hub/templates/base.yaml
  clusters/hub/templates/infrastructure.yaml
Labels: area/charts

.
  .vscode/settings.json
Labels: none

fix: Update secret keys in external-secret-cloudflare.yaml and issuers.yaml; adjust base.yaml and values.yaml for external secrets configuration
  .devcontainer/post-install.sh
  charts/infrastructure/certificates/templates/external-secret-cloudflare.yaml
  charts/infrastructure/certificates/templates/issuers.yaml
  clusters/hub/templates/base.yaml
  clusters/hub/values.yaml
Labels: area/charts
